.page{
    margin:auto;
}
.main{
margin:5px auto;
align-content: center;

}


.banner{
    background-image: url(imgs/banner.jpg);
    height:400px;
    justify-content: center;
}
.learnBanner{
    background-image: url(imgs/speaker1.jpg);
    height: 400px;
    
    
}
.soundTag{
    width: 50px;
    float: left;
}
.signUpReg{
    float:right;
}
.regButton{
    margin-top: 10px;
    border:solid 2px black;
    text-align: center;
    padding-bottom: -5px;
}


.createButton{
    text-align: center;
    border: solid 2px white;
    width: auto;
    padding:10px;
    margin-top: 30px;
    
    
}
.learnBannercontent{
  margin: auto;
  width: 50%;
  padding: 70px 0;
  
  text-align: center;
  color:white;
  
}
.tagLine{
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem ;
    
}
.buttons{
    text-align: center;
}
.searchBar{
    margin: auto;
}
.searchBar>input{
    width: 500px;
    margin-top: 25px;
    margin-bottom: 30px;
    align-content: center;
    
    

}
.bigTag{
    text-align: center;
    font-size: 3rem;
}
.trendingHome{
    align-content: center;
}
.thumbnail{
    width: 200px;
    height: 180px;
}
.trackTitles{
    text-align: center;
}
.subName{
    text-align: center;
}
.space{
    margin: 5px;
}
.audioPlayer{
    width: 1080px;
    margin: auto;
}
